.my-blogs {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.my-blogs-content {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.my-blogs-content>h2 {
    font-size: 2.5rem;
}


.create-now-btn {
    text-decoration: none;
    background-color: #fa057b;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 1.75rem;
    margin: 1rem 0;
}