.row-card {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #cfcfcf;
    padding: 1.5rem 0;
    text-decoration: none;
}

.row-img-container {
    width: 33%;
    height: 150px;
    margin-right: 1rem;
}

.row-img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-details {
    margin: 0.75rem;
    width: 55%;
}

.row-tag {
    color: #fa057b;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
}

.row-title {
    margin: 0.75rem 0;
}

.row-title a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    transition: all 0.25s ease;
}
.dark-row-title a{
    color: #cacaca;
}
.row-card:hover .row-title a{
    color: #fa057b;
}

.row-creation {
    color: #8a8a8a;
    font-size: 0.75rem;
}

.dark-row-creation {
    color: #cacaca;
}

span {
    color: #000;
    font-weight: 600;
}
.dark-row-creator {
    color: #7a7a7a;
}

@media screen and (max-width: 992px){
    .row-img-container {
        height: 10rem;
    }
}

@media screen and (max-width: 600px){
    .row-card {
        align-items: center;
    }
    .row-img-container {
        width: 40%;
    }
 }